.card_secondary_font{
    font-size: 14px !important;
    margin-bottom: 20px !important;
}

.card_header{
    color:#ed2c3c;
    font-weight: 700;
    font-size: 40px;
}

.card_text{
    text-align: center;
    padding: 10px 34% 10px 34% ;
    font-size: 14px;
}

.col_gutter{
    margin-bottom: 15px;
}