.footer_custom{
    background-color: #26272b;
    width: 100%;
    color: #737373;
}

.footer_container{
    background-color: #26272b;
    padding-top: 20px;
    padding-bottom: 40px; 
}

.footer_main_font{
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.line{
    margin-top: 20px;
    width: 100%;
    border: 0.01em solid #737373;
    margin-bottom: 20px;
}

.line_new{
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-bottom: 20px;
}

.footer_social_icons_holder{
    max-width: 50%;
}

.footer_copyrights{
    display: flex;
    justify-content: space-between;
    word-break: break-all;
}

.social_media_icons{
    width:40px !important;
    height: 40px !important;
    padding: 12px;
    font-size: 20px;
    margin-left: 10px;
    background-color: rgb(58, 56, 59);
    border-radius: 50%;
    cursor: pointer;
}

.social_media_icons:hover{
    background-color: blue;
    color: white !important;
}

.footer_link{
    text-decoration: none;
    color:#737373 ;
}