.banner_holder{
    margin-bottom: 60px;
    position:relative;
    animation: easeanime 10s infinite ease-in-out;
   
}

.banner_content{
    position: absolute;
    top:25%;
    z-index: 99;
    color: white;
    padding-left: 5%;
}

.banner_header{
    font-size: 45px;
    
}

.banner_learnmore{
    background-color:#ed2c3c ;
    color:white;
    border:none;
    padding:13px 30px;
    border-radius: 10px;
    font-size: 14px;
    animation: easeanime 10s infinite ease-in-out;
}

.banner_watchvideo{
    margin-left:15px;
    background-color:white ;
    color:black;
    border:none;
    padding:10px 30px;
    border-radius: 10px;
    font-size: 10px;
    transform: translateY(-8px);
    text-align: left;
    animation: easeanime 10s infinite ease-in-out;
    
}

@keyframes easeanime {
    0% { opacity: 1; }
    25% { opacity: 1;}
    50% { opacity: 0;}
    100% { opacity: 1;}
}