.Navbarimage{
    width:100px !important;
}
.text_navbar{
    font-weight: 700;
    font-size: 15px;
    padding-left:60px ;
}

.navbar {
    position: fixed !important;
    width: 100%;
    z-index: 999;
    top:0;
    display: flex;
    align-items: center;
    padding: 0px 15% 0px 15%;
    background: white;
    color: #737373;
    font-family: Helvetica;
    font-weight: 300;
    position:fixed;
    top:0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    
}

.navbar__item {
    padding-top: 0px;
    padding-left: 16px;
    cursor: pointer;
    vertical-align: middle;
}

.nav_icons_cart{
    width: 30px !important;
}

.nav_icons_bell{
    width: 25px !important;
}

.Navbar_login{
    font-weight: 700;
    font-size: 14px;
}


@media screen and (max-width: 900px) {
    .nav_icons_cart,.nav_icons_bell,.Navbar_login,.text_navbar {
      display: none;
    }
  }